<!doctype html>
<html>
  <head>
    <title>Cats! - <%= cat.name %></title>
  </head>
  <body>
    <fieldset>
      <form method="POST" action="/cats/<%= cat.id %>">
        <legend><%= cat.name %></legend>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" value="<%= cat.name %>" />
        <br />
        <label for="image">Image: </label>
        <input type="url" name="image" id="image" value="<%= cat.image %>" />
        <br />
        <button type="submit">Update cat</button>
      </form>
    </fieldset>
  </body>
</html>
